@use "variables";

%comman_property{
    width: 100%;
    font-size: 1.5rem;
    border: none;
    margin: 10px 0px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: variables.$border_radius;

    &:focus {
        outline: 3px solid #48de03; 
      }
}


%button{
  font-size: 1.5rem;
  border-radius: variables.$border_radius;
  width: 40%;
  padding: 5px;
  display: flex;
  justify-content:center ;
  background-color: rgb(39, 189, 2);
  margin: 10px auto;
  border: none;
  cursor: pointer;
}

.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-heading{
  text-align: center;
  color: variables.$h3_heading;
}

.container {
  width: 50%;
  border-radius: variables.$border_radius;
  box-shadow: rgba(165, 165, 165, 0.1) 0px 1px 0px,
    rgba(131, 131, 132, 0.831) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  
    header {
    margin-top: 1rem;
    font-size: 2.2rem;
    text-align: center;
  }

  h3 {
    padding: 0px 0.7rem;
    font-size: 1rem;
    color: variables.$h3_heading;
    text-align: end;
    font-style: italic;
  }

  form {
    width: calc(100% - 4rem) ;
    padding: 2rem;
   
    background-color: #383232;
    div {
      width: 100% ;
      font-size: 1.5rem;
      background-color: #383232;
    
      input {
        @extend %comman_property;
      }

      select{
        @extend %comman_property;
        option{
            color: white;
        }
      }

      
    }
    button {
     @extend %button
    }
  }
};


.quiz-container {
  div{
    font-size: 2em;
    display: flex;
    margin: auto;
    width: 60%;
  //  border: 1px solid #ffff;
    
    @media (max-width: "800px") {
      font-size: 1.5em;
    }

    @media (max-width: "500px") {
      width: 90%;
    }
  }

 

  div{
    ul{
      li{
        margin: 0.5rem 0px;
      }
    }
  }


button{
  @extend %button;
}
};

.result-conatiner{
  // border: 1px solid white;
  box-shadow: rgba(165, 165, 165, 0.1) 0px 1px 0px,
    rgba(131, 131, 132, 0.831) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  width: 70%;
  margin: 2rem auto;
  padding: 3rem;

.flex-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
  h2{
    span{
      color: #48de03;
    }
  }
  h3{
    text-align: center;
    font-style: italic;
  }

  table{
    border: 1px solid #fff;
    margin:  auto;
    thead{
      th{
        
        background-color: #4e4d4d;
        padding: 1rem;
        border-bottom: 1px solid #fff;
       
      }
    }

    tbody{
      td{
        padding: 1rem;
        font-size: 1.5em;
      }
    }

  }

}

.back-btn{
  @extend %button

}

.score-circle{
  border: 1px solid red;
  padding: 3rem;
  border-radius: 50%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}